.card__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 19px;
  column-gap: 17px;
  justify-content: start;
}

@media (max-width: 1024px) {
  .card__items {
    column-gap: 30px;
    justify-content: center;
  }
}
