.profile {
  box-sizing: border-box;
  padding-top: 43px;
  display: flex;
  gap: 31px;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    padding-top: 45px;
    flex-direction: column;
    gap: 25px;
  }
}
