.popup__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  padding: 35px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  position: relative;
}

@media (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}
